<ion-view title="Criar conta" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="criarConta-form2" class="list">
      <ion-list id="criarConta-list2">
        <label class="item item-input" id="criarConta-input3">
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input" id="criarConta-input4">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="criarConta-input5">
          <input type="text" placeholder="Senha">
        </label>
      </ion-list>
      <a ui-sref="login()" id="criarConta-button3" class="button button-positive button-block">Criar conta</a>
    </form>
  </ion-content>
</ion-view>