<ion-view title="Crie sua nova missão" id="page7" style="background-color:#E0C9A6;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-assertive icon ion-ios-close-outline"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-balanced icon ion-ios-checkmark-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/XFDfQFcFQ1KCQS80cwfm_png-transparent-paper-scroll-parchment-typography-miscellaneous-decoupage-party-removebg-preview201.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="crieSuaNovaMissO-form8" class="list">
      <label class="item item-select" id="crieSuaNovaMissO-select1">
        <span class="input-label">Tipo da Missão</span>
        <select>
          <option>Calma</option>
          <option>Moderada</option>
          <option>Perigosa</option>
          <option>Urgente</option>
        </select>
      </label>
      <label class="item item-input" id="crieSuaNovaMissO-textarea2">
        <span class="input-label"></span><textarea placeholder="Descrição"></textarea></label>
    </form>
  </ion-content>
</ion-view>