<ion-view title="Histórico do Jogador" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="histRicoDoJogador-card22">
      <ion-item class="item-avatar" id="histRicoDoJogador-list-item29">
        <img src="img/fMKsORB62bXbMgALbQCz_png-transparent-ragnarok-online-ro-idle-poring-runes-ragnarok-knight-knight-chibi-fictional-character-map-removebg-preview.png">
        <h2>nome do usuario</h2>
      </ion-item>
    </div>
    <ion-list id="histRicoDoJogador-list11">
      <ion-item class="item-divider" id="histRicoDoJogador-list-item-divider2"> Missões Concluidas</ion-item>
      <ion-item id="histRicoDoJogador-list-item37">Item 1</ion-item>
      <ion-item id="histRicoDoJogador-list-item38">Item 2</ion-item>
      <ion-item id="histRicoDoJogador-list-item39">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>