<ion-view title="Login" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="login-input2">
          <input type="password" placeholder="Senha">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="ReaInicial()" id="login-button1" class="button button-positive button-block">Logar</a>
      <a ui-sref="criarConta()" id="login-button2" class="button button-calm button-block button-clear">Crie uma conta</a>
    </form>
  </ion-content>
</ion-view>