<ion-view title="Missões" id="page8" style="background-color:#E0C9A6;">
  <ion-content padding="true" class="has-header">
    <ion-list id="missEs-list8">
      <ion-item class="item-icon-left balanced" id="missEs-list-item17">
        <i class="icon ion-ionic"></i>Missão Calma</ion-item>
      <ion-item class="item-icon-left calm" id="missEs-list-item18">
        <i class="icon ion-ionic"></i>Missão Moderada</ion-item>
      <ion-item class="item-icon-left royal" id="missEs-list-item19">
        <i class="icon ion-ionic"></i>Missão perigosa</ion-item>
      <ion-item class="item-icon-left assertive" id="missEs-list-item20">
        <i class="icon ion-ionic"></i>Missão urgente</ion-item>
    </ion-list>
  </ion-content>
</ion-view>